$text-color: #000000;
$text-color-light: #FFFFFF;
$background-category: /*#F3F2CC*/#FAFAFA;

$main: #4CBBC6;
$secondary: #3E7588;
$dark: #3E7588;
$shadow: #103042;

$warning: #F9AE3F;
$error: #DE5050;
$success: #37BC64; 