.login-block {
  width: 20%;
  height: 100%;
  margin: 8% 0% 0% 40%;
  background-color: #4588af;
  color: #FFFFFF;
  border: 1px solid black;
  border-radius: 10%;
  align-items: center;
}

.login-element {
  width: 100%;
  height: 30%;
}

.header-text-center {
  text-align: center;
}

a:link {
  color: #f3f3f3;
}

a:hover, a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

/*a:visited{
    color: $text-color-light;
}*/
