@import "_variables.scss";

html{
    scroll-behavior: smooth;
}

.nav-link {
    /*text-decoration: none;*/
    color: #FFFFFF;
}

.head{
    background: $main;
}

#banner{
    background-color: $main;
    opacity: 70%;
    position: relative;
    /*text-align: center;*/
    color: $text-color;
}

.navbar-toogler{
    border-color: #FFFFFF;
}

#banner-text{
    font-size: 30px;
}

.centered{
    position: absolute;
    top: 30%;
    left: 10%;
}
a:hover{
    color: $text-color-light;
}

#category-menu{
    background-color: $secondary;
}

.footer{
    background-color: $secondary;
}

#category-section{
    background-color: $background-category;
}

.category-text-left{
    margin-top: 6%;
}

.photo-right{
    /*padding: 15%;*/
    height: 70%;
    width: 80%;
    margin-top: 7%;
    box-shadow: 30px -20px 0px 0px $shadow;
}

.photo-left{
    height: 70%;
    width: 80%;
    margin-top: 7%;
    margin-left: 10%;
    box-shadow: -30px -20px 0px 0px $shadow;
}