.main, .product-title, .price, .shipment, .slide {
  border: 1px solid black;
  margin-top: 2%;
}

.product-title {
  text-align: center;
}

.plus {
  margin-left: 7%;
}

.deliver {
  font-weight: bold;
}
