{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Dream</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'shop/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}">

    <!-- Latest compiled JavaScript -->
    <script src="{% static 'shop/bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta author="Paweł Rosa, Kamil Oberaj">
    <link rel="stylesheet" href="{% static 'shop/main.css' %}">
    <link rel="stylesheet" type="style/css" href="{% static 'shop/product-page.css' %}">
</head>

<body>

    <!-- Nav Menu Area Start -->
    <!--
    <div class="container d-flex justify-content-end">
        <button class="btn btn-light" onclick="languagepl()">
            pl
        </button>
        <button class="btn btn-light" onclick="languageen()">
            en
        </button>
    </div>
-->
    <div class="jumbotron-fluid head sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" style="width: 15%;" href="{% url 'shop:index' %}">
                <img class="img-fluid" src="{% static 'shop/IMG/logo.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <form class="form-inline">
                        <input type="search" class="form-control" name="search" placeholder="Szukaj">
                        <button type="submit" class="btn btn-light justify-content-center"
                            id="search-button">&#x1F50D;</button>
                    </form>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <a class="navbar-brand">
                        <img class="img-fluid" href="{% url 'shop:index' %}" src="{% static 'shop/IMG/cart.png' %}" alt="Something went wrong">
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shop:login' %}" style="color: #FFFFFF;">
                            <h4 id="log">
                                Logowanie / <br>
                                Rejestracja
                            </h4>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Nav Menu Area End -->


    <!-- Product Area Start -->

    <div class="container main">
        <div class="container product-title">
            <h1>
                Nazwa produktu
            </h1>
        </div>

        <div class="container slide justify-content-center">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'shop/IMG/la.jpg' %}" alt="Los Angeles">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'shop/IMG/chicago.jpg' %}" alt="Chicago">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'shop/IMG/ny.jpg' %}" alt="New York">
                  </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
              </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-5 price">
                    <p>
                        <b>Cena:</b>
                        <br>
                        127<sup>99</sup>zł<br>
                    </p>
                    <button class="btn btn-light">Dodaj do koszyka</button>

                    <button class="btn btn-light plus" onclick="amount_minus()">-</button>
                    <button class="btn btn-light" id="amount" disabled></button>
                    <button class="btn btn-light" onclick="amount_plus()">+</button>
                    <br><br>
                    <button class="btn btn-light last">Kup teraz</button>
                    
                </div>
                <div class="col-2"></div>
                <div class="col-5 shipment">
                    <p>
                        <p class="deliver">
                            Sposób dostawy:<br>
                        </p>
                        <p class="deliver">
                            Czas dostawy:<br>
                        </p>
                        <p class="deliver">
                            Koszt dostawy:<br>
                        </p>
                    </p>
                </div>
            </div>
        </div>

        <div class="container main">
            Opis produktu:
        </div>
    </div>

    <!-- Product Area End -->


    <!-- Footer Area Start -->
    <footer class="jumbotron-fluid footer">
        <div class="row">
            <div class="col-lg-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-3 col-sm-9 col-xs-9">
                <form>
                    <div class="form-group">
                        <p class="footer-text">
                            <label for="footer-email">Adres Email</label>
                            <input type="email" class="form-control" id="footer-email" placeholder="Adres Email">
                            <label for="exampleFormControlTextarea1">Wiadomość</label>
                            <textarea class="form-control textarea" id="exampleFormControlTextarea1"
                                rows="5"></textarea>
                            <button type="submit" class="btn btn-light justify-content-center">Wyślij</button>
                        </p>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-sm-2 col-xs-2"></div>
            <div class="col-lg-4 col-sm-9 col-xs-9">
                <p class="footer-text">
                    Kontakt z nami:<br><br>
                    <b>Email:</b><br>
                    example@gmail.com<br>
                    <b>Telefon:</b><br>
                    +48 912 912 912<br>
                    <b>Adres:</b><br>
                    Ul. Polna 12 44-928
                </p>
            </div>
        </div>
    </footer>

    <script src="{% static 'shop/JS/product-page.js' %}"></script>
    <!-- Footer Area End -->
</body>

</html>